[submodule "src/ExternalModules/Zepto.OrchardCore.WebPush"]
	path = src/ExternalModules/Zepto.OrchardCore.WebPush
	url = https://github.com/arkadiuszwojcik/Zepto.OrchardCore.WebPush
[submodule "src/ExternalModules/Zepto.OrchardCore.Pwa"]
	path = src/ExternalModules/Zepto.OrchardCore.Pwa
	url = https://github.com/arkadiuszwojcik/Zepto.OrchardCore.Pwa.git
[submodule "src/ExternalModules/Zepto.OrchardCore.Polls"]
	path = src/ExternalModules/Zepto.OrchardCore.Polls
	url = https://github.com/arkadiuszwojcik/Zepto.OrchardCore.Polls.git
[submodule "src/ExternalModules/Zepto.OrchardCore.Common"]
	path = src/ExternalModules/Zepto.OrchardCore.Common
	url = https://github.com/arkadiuszwojcik/Zepto.OrchardCore.Common.git
[submodule "src/ExternalModules/Zepto.OrchardCore.Isztar"]
	path = src/ExternalModules/Zepto.OrchardCore.Isztar
	url = https://github.com/arkadiuszwojcik/Zepto.OrchardCore.Isztar.git
[submodule "src/ExternalModules/Zepto.OrchardCore.ContentSignals"]
	path = src/ExternalModules/Zepto.OrchardCore.ContentSignals
	url = https://github.com/arkadiuszwojcik/Zepto.OrchardCore.ContentSignals.git
